<ion-header>
  <ion-toolbar>
    <ion-title>
      5 Ayah Daily
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-item *ngFor="let surah of Surah"> 
      <ion-button fill="clear" (click)="surah[1] = play(surah[0]);" *ngIf="surah[1]">
        <ion-icon name="play"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="pause(); surah[1] = true" *ngIf="!surah[1]">
        <ion-icon name="pause"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="stop(); surah[1] = true" *ngIf="!surah[1]">
        <ion-icon name="square"></ion-icon>
      </ion-button>

      <ion-col size="5">
          <ion-label>{{ surah[0] }}</ion-label>
      </ion-col>

      <ion-col>
        <ion-input type="number" placeholder="1" text-center></ion-input>
      </ion-col>
      <ion-label>-</ion-label>
      <ion-col>
        <ion-input type="number" placeholder="40" text-center></ion-input>
      </ion-col>
    </ion-item>

  </ion-card>
</ion-content>
